<h1>Contacts page</h1>

<h2>All Contacts</h2>
<ul>
<% @@rolodex.contacts.each do |contact| %>
  <li><%=contact.id%>
  <%=contact.first_name%> <%=contact.last_name%> <%=contact.email%> <%=contact.note%></li>
<% end %>
</ul>

<a href='/contacts'>create new contact</a>

<div> </div>
<a href='/'>Main menu</a>